<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header class="header">
        <a href="/" class="logo">Dnevnik.kz</a>
        <nav>
            <ul>
                <li><a href="/list">Список</a></li>
                <li><a href="/teachers">Учителя</a></li>
                <li><a href="/login">Войти</a></li>
                <li><a href="/about">О нас</a></li>
                <li><a href="/profile">Админ</a></li>
            </ul>
        </nav>
    </header>
    <h1>Страница админа</h1>
    <p>Используйте форму чтобы рассылать сообщение.</p>
    <form id="messageForm" action="/api/contact" method="POST" enctype="multipart/form-data">
        <label for="message">Сообщение:</label><br>
        <textarea id="message" name="message" rows="5"></textarea><br><br>
        <label for="email">Ваш Email:</label><br>
        <input type="email" id="email" name="email"><br><br>
        <label for="file">Прикрепить файл:</label><br>
        <input type="file" id="file" name="file"><br><br>
        <button type="submit">Отправить сообщение</button>
    </form>
    

    <h2>Ответ от сервера:</h2>
    <div id="response"></div>

    <script>
        document.getElementById("messageForm").addEventListener("submit", function(event) {
        event.preventDefault(); // Остановить стандартную отправку формы

        const formData = new FormData(document.getElementById("messageForm"));

        // Отправляем данные методом POST
        fetch('/api/contact', {
            method: 'POST',
            body: formData,
        })
        .then(response => {
            if (!response.ok) {
                // Если ответ не OK, возвращаем текст
                return response.text().then(text => { throw new Error(text); });
            }
            return response.json();
        })
        .then(data => {
            document.getElementById("response").innerHTML = `
                <strong>Status:</strong> ${data.status} <br>
                <strong>Message:</strong> ${data.message}
            `;
        })
        .catch(error => {
            document.getElementById("response").innerHTML = `
                <strong>Ошибка:</strong> ${error.message}
            `;
        });
    });

    </script>
</body>
</html>
