<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Войти</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <!-- Хедер -->
    <header class="header">
        <a href="/" class="logo">Dnevnik.kz</a>
        <nav>
            <ul>
                <li><a href="/list">Список</a></li>
                <li><a href="/help">Поддержка</a></li>
                <li><a href="/dashboard">Личный кабинет</a></li>
                <li><a href="/about">О нас</a></li>
                <li><a href="/contact">Админ</a></li>
            </ul>
        </nav>
    </header>

    <!-- Основной контент -->
    <main>
        <h1>Вход Учитель</h1>
        <form>
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit" class="btn">Войти</button>
        </form>

        <div class="button-group">
            <a href="/login" class="btn">Войти как ученик</a>
            <p>Или</p>
            <a href="/register" class="btn">Зарегистрироваться</a>
        </div>
    </main>
</body>
</html>
